a,p{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    vertical-align: baseline;
    margin-bottom: 0;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

h1{font-size: 50px;}
h2{font-size: 40px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 12px;}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #687774; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #403234; 
}

body {
    background-color:#F7F1F0;
    width: 100%;
}

/* NAVBAR */
.navbar {
    padding: 3px 10px;
}

/* NAVBAR UPPER SECTION */

.upper-section a {
    font-weight: 800;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  background-color: #E7E7E7;
  border-radius: 30px;
}

.search_input{
  color: #403234;
  border: 0;
  outline: 0;
  background: none;
  padding: 0 10px;
  width: 90%;
  height: 35px;
  caret-color:#403234;
  line-height: 35px;
  transition: width 0.4s linear;
}

.search_icon {
height: 30px;
width: 30px;
float: right;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
text-decoration: none;
color: #403234;
border:#403234;
background-color: #403234;
text-decoration:none;
}

.search_icon:hover {
text-decoration: none;
}

.search_icon img {
  color:#E2C2B3;
}

.upper-section li a{
  color: #403234;
}

nav li a img{
  width: 25px;
}

.navbar-toggler {
  color: #403234;
}

/* NAVBAR LOWER-Section */

.lower-section li a {
  font-weight: 400;
  font-size: 20px;
  color: #687774;
}
.lower-section li a:hover {
  color: #403234;
}

.lower-section li {
  margin: 0 35px;
}


/* FOOTER */
footer {
  background-color: #E7E7E7;
  padding: 20px 0;
}

.footer-cards {
    margin-top: 50px;
}

.footer-cards img{
    max-width: 80px;
    height: 30px;
    margin: 5px;
}

.footer-midsection{
    margin-top: 20px;
    color: #707070;
}

.footer-rightsection{
    margin-top: 10px;
    font-weight: 800;
    color: #707070!important;
}
.footer-rightsection a{
    font-weight: 800;
    color: #707070;
}

.footer-midsection-socialmedia img{
    margin: 0 3px;
    max-width: 30px;
}

/* HOMEPAGE */
.homepage-banner {
    position: relative;
} 

.homepage-banner img{
    width: 100%;
    height: auto;
}

.homepage-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

.homepage-banner-text p {
    color: #F7F3F5;
    font-size: 40px;
    font-weight: 600;
}

.homepage-banner-text button{
    background-color: #E7E7E7;
    color: #403234;
    font-size: 16px;
    font-weight: 800;
    font-size: 20px;
    padding: 3px 24px;
    width: 140px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.mt--1 {
    margin-top: 190px;
}

.mt--100 {
    margin-top: 100px;
}

.margin-R {
    margin-right: 20px;
}

.p-carousel{
    padding: 25px 50px;
}

.slick-arrow {
    background-color: black;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    
}
.slick-arrow:hover {
    background-color: black;
}
.slick-next {
    right: 10px;
}
.slick-prev {
    left: 10px;
}
.slick-prev, .slick-next {
    color: black;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: black;
    outline: none;
    background: black;
}
.slick-slide img {
    width: 300px;
}
.height-320 {
    height: auto;
}
.bg-collor{
    background-color: #fff;
}
.margin-bott{
    margin-bottom: 100px;
}

/* Catalog */
.Divider {
    border: #E7E7E7 3px solid;
    margin-top: 30px;
}

.catalog{
    max-width: 1500px;
}

.Catalog-filter{
    max-width: 300px;
}

.Catalog-filter h3{
    color: #687774;
    font-weight: 600;
    margin-top: 10px;
}

.Catalog-filter-SubDivision{
    color: #403234;
    margin-left: 40px;
}

.Catalog-filter-SubDivision a{
    color: #403234;
}
.Catalog-filter-SubDivision a:hover{
    color: #999;
}

.Catalog-filter-Colors{
    justify-content: center;
    flex-wrap: wrap;
}

.Catalog-filter-Colors div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 3px;

}

.Catalog-filter-ColorSwitch ul li{
    word-wrap: break-word!important;
}

.red{background-color: red;}
.blue{background-color: blue;}
.black{background-color:black;}
.white{background-color:white;}
.green{background-color:green;}
.pink{background-color:pink;}
.grey{background-color:grey;}


.Catalog-filter-pricefield h5{display: inline-block;}
.Catalog-filter-pricefield h5:first-child{float: left;}
.Catalog-filter-pricefield h5:last-child{float: right;}

.divider2 {margin-top: 70px;}

.Catalog-filter-Sizebox{
    justify-content: center;
    flex-wrap: wrap;
}

.Catalog-filter-box {
    margin: 3px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #E7E7E7;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #687774;
    font-weight: 600;
    border: solid 1.5px #707070;
}

.Catalog-SortBy select {
    appearance: none;
    border-radius: 35px;
    background-color: #E7E7E7;
    color: #687774;
    font-weight: 600;
    padding: 10px;
    width: 150px;
    outline: none;
    line-height: 1;
    background: url(./Arrow.svg) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 90%;
}

.Catalog-product img{
    height: 250px;
    border-radius: 5px;
}

.Catalog-product h5{
    font-weight: 600;
    color: #555555;
    margin: 0;
}

.Catalog-Pageswitch {
    justify-content: center;
}



.Catalog-Pageswitch-Switch  {
    border: #707070 solid 1px;
    font-weight: 600;
    color: #687774;
    margin: 2px;
    border-radius: 5px;
}
.Catalog-PageSwitch .Pagenumber  {
    padding: 5px 15px;
}

.Catalog-PageSwitch .PrevNext {
    width: 100px;
    text-align: center;
    padding: 5px;
}

/* PRODUCT DETAILS */
.product-gallery .image-gallery-slides img {max-width:1500px ;}
.product-gallery .image-gallery-thumbnails-container {text-align: left;}
.image-gallery-slide{outline:none}
.product-details h2,.product-details h4{color: #555555;}
.image-gallery-content .image-gallery-slide .image-gallery-image {height:500px;}
.Product-details-wishlist button{
    color: #687774;
    border-radius: 35px;
    padding: 5px 15px;
    text-align: center;
    justify-content: center;
    border: 1.5px solid #707070;
    background-color: #E7E7E7;
}

.Product-details-Cart button {
    background-color: #403234;
    color: #F7F3F5;
    border-radius: 5px;
    border:none;
    padding:10px 10px;
    width: 100%;
}

.Product-reviews-review {
    background-color: #fff;
}


.Product-reviews-review img {max-width: 30px;}

.Product-reviews-review h4{
    color: #403234;
    margin: auto 0;
}

.Product-reviews-review h6{
    color: #687774;
}


@media (min-width: 1300px){
    .container{
    max-width: 1440px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }

    .Product .container{max-width: 1240px!important;}
}

@media screen and (max-width: 1150px){
	.search_input{
		width: 85%;
  }
    nav li a{
    font-size: 14px;
  }
    .footer-cards img{
        max-width: 60px;
    }
}
@media screen and (max-width: 1000px){
    .footer-cards img{
        max-width: 40px;
    }
    .footer-midsection-socialmedia img {
        max-width: 22px;
    }
    footer a, p{font-size: 14px;}
}


@media screen and (max-width: 800px){
	.search_input{
		width: 75%;
  }
    .navbar-logo {
    width: 100px;
  }
}

@media screen and (max-width: 768px){
    .Catalog-filter{max-width: 1000px;}
    .Catalog-filter-Switch{text-align: center;}
    .Catalog-filter-SubDivision{margin: 0;}
    .upper-section{flex-direction: column;}
    .footer-cards img{max-width: 30px;}
}

@media screen and (max-width: 647px){
    nav li a img {width: 20px;}
}
@media screen and (max-width: 650px){
    nav li a img {
        width: 20px;
    }
    .footer-cards img{max-width: 30px;}


    .upper-section{flex-direction: column;}
    .upper-section .searchbar {margin-top: 10px;}
}

@media screen and (max-width: 576px){
    .upper-section, .lower-section { text-align: center;}
}
@media screen and (max-width: 500px){
    .Catalog-PageSwitch .PrevNext {width: 75px; }
}

